<?xml version="0.0" ?>
<robot name="bowl.urdf">
  <material name="mainColor">
    <color rgba=".67 .67 .67 1."/>
  </material>
<!--   <material name="mainColor">
    <color rgba=".55 .27 .1 1."/>
  </material> -->
<!--   <material name="mainColor">
    <color rgba="1. 1. 1. 1."/>
  </material> -->
  <material name="grey">
    <color rgba=".5 .5 .5 1."/>
  </material>

  <link name="world"/>

  <link name="base">
    <inertial>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
       <mass value=".1"/>
       <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <!-- right -->
      <origin rpy="0 0 0" xyz="0 -.315 0"/>
      <geometry>
        <box size=".65 .01 .2"/>
      </geometry>
      <material name="mainColor"/>
    </visual>
    <visual>
      <!-- left -->
      <origin rpy="0 0 0" xyz="0 .315 0"/>
      <geometry>
        <box size=".65 .01 .2"/>
      </geometry>
      <material name="mainColor"/>
    </visual>
    <visual>
      <!-- front -->
      <origin rpy="0 0 0" xyz=".325 0 0"/>
      <geometry>
        <box size=".01 .65 .2"/>
      </geometry>
      <material name="mainColor"/>
    </visual>
    <visual>
      <!-- back -->
      <origin rpy="0 0 0" xyz="-.325 0 0"/>
      <geometry>
        <box size=".01 .65 .2"/>
      </geometry>
      <material name="mainColor"/>
    </visual>
    <collision>
      <!-- right -->
      <origin rpy="0 0 0" xyz="0 -.45 0"/>
      <geometry>
        <box size="1 .01 .2"/>
      </geometry>
    </collision>
    <collision>
      <!-- left -->
      <origin rpy="0 0 0" xyz="0 .45 0"/>
      <geometry>
        <box size="1 .01 .2"/>
      </geometry>
    </collision>
    <collision>
      <!-- front -->
      <origin rpy="0 0 0" xyz=".45 0 0"/>
      <geometry>
        <box size=".01 1 .2"/>
      </geometry>
    </collision>
    <collision>
      <!-- back -->
      <origin rpy="0 0 0" xyz="-.45 0 0"/>
      <geometry>
        <box size=".01 1 .2"/>
      </geometry>
    </collision>
  </link>

  <joint name="base_joint" type="fixed">
    <parent link="world"/>
    <child link="base"/>
  </joint>

</robot>

